{% extends "admin/layout.twig" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>Blogit</h1>
        {% include "admin/sites.twig" %}
    </div>
{% endblock %}