{% extends "admin/layout.twig" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1>{{ site.name }} postaukset</h1>
        {% include "admin/posts.twig" %}
    </div>
{% endblock %}