{% extends "layout.twig" %}

{% block content %}
        <h1 class="page-header">Haku</h1>
        {% if query %}
        <p class="bg-info">{{ count }} osumaa haulle "{{ query }}".</p>
        {% endif %}
        <form action="/search/" method="GET">
            <label for="q">Hakusana</label>
            <input type="text" name="q" value="{{ query }}">
            <input type="submit" value="Hae">
        </form>
        <div class="row">
            {% include "search-results.twig" %}
        </div>
{% endblock %}